<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.frt.basesdk2.mapper.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="xyz.frt.basesdk2.entity.OrderDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="sum_money" jdbcType="INTEGER" property="sumMoney" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="delete_user" jdbcType="VARCHAR" property="deleteUser" />
    <result column="delete_user_id" jdbcType="INTEGER" property="deleteUserId" />
    <result column="is_enable" jdbcType="INTEGER" property="isEnable" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="str1" jdbcType="VARCHAR" property="str1" />
    <result column="str2" jdbcType="VARCHAR" property="str2" />
    <result column="str3" jdbcType="VARCHAR" property="str3" />
    <result column="str4" jdbcType="VARCHAR" property="str4" />
    <result column="str5" jdbcType="VARCHAR" property="str5" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, product_id, count, sum_money, create_time, create_user, create_user_id, 
    update_time, update_user, update_user_id, delete_time, delete_user, delete_user_id, 
    is_enable, remark, str1, str2, str3, str4, str5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_order_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_order_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.frt.basesdk2.entity.OrderDetail">
    insert into sys_order_detail (id, order_id, product_id, 
      count, sum_money, create_time, 
      create_user, create_user_id, update_time, 
      update_user, update_user_id, delete_time, 
      delete_user, delete_user_id, is_enable, 
      remark, str1, str2, 
      str3, str4, str5)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
      #{count,jdbcType=INTEGER}, #{sumMoney,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateUserId,jdbcType=INTEGER}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{deleteUser,jdbcType=VARCHAR}, #{deleteUserId,jdbcType=INTEGER}, #{isEnable,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{str1,jdbcType=VARCHAR}, #{str2,jdbcType=VARCHAR}, 
      #{str3,jdbcType=VARCHAR}, #{str4,jdbcType=VARCHAR}, #{str5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xyz.frt.basesdk2.entity.OrderDetail" keyProperty="id" useGeneratedKeys="true">
    insert into sys_order_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="sumMoney != null">
        sum_money,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="deleteUser != null">
        delete_user,
      </if>
      <if test="deleteUserId != null">
        delete_user_id,
      </if>
      <if test="isEnable != null">
        is_enable,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="str1 != null">
        str1,
      </if>
      <if test="str2 != null">
        str2,
      </if>
      <if test="str3 != null">
        str3,
      </if>
      <if test="str4 != null">
        str4,
      </if>
      <if test="str5 != null">
        str5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="sumMoney != null">
        #{sumMoney,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteUser != null">
        #{deleteUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteUserId != null">
        #{deleteUserId,jdbcType=INTEGER},
      </if>
      <if test="isEnable != null">
        #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="str1 != null">
        #{str1,jdbcType=VARCHAR},
      </if>
      <if test="str2 != null">
        #{str2,jdbcType=VARCHAR},
      </if>
      <if test="str3 != null">
        #{str3,jdbcType=VARCHAR},
      </if>
      <if test="str4 != null">
        #{str4,jdbcType=VARCHAR},
      </if>
      <if test="str5 != null">
        #{str5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.frt.basesdk2.entity.OrderDetail">
    update sys_order_detail
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="sumMoney != null">
        sum_money = #{sumMoney,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteUser != null">
        delete_user = #{deleteUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteUserId != null">
        delete_user_id = #{deleteUserId,jdbcType=INTEGER},
      </if>
      <if test="isEnable != null">
        is_enable = #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="str1 != null">
        str1 = #{str1,jdbcType=VARCHAR},
      </if>
      <if test="str2 != null">
        str2 = #{str2,jdbcType=VARCHAR},
      </if>
      <if test="str3 != null">
        str3 = #{str3,jdbcType=VARCHAR},
      </if>
      <if test="str4 != null">
        str4 = #{str4,jdbcType=VARCHAR},
      </if>
      <if test="str5 != null">
        str5 = #{str5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.frt.basesdk2.entity.OrderDetail">
    update sys_order_detail
    set order_id = #{orderId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER},
      sum_money = #{sumMoney,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      delete_user = #{deleteUser,jdbcType=VARCHAR},
      delete_user_id = #{deleteUserId,jdbcType=INTEGER},
      is_enable = #{isEnable,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      str1 = #{str1,jdbcType=VARCHAR},
      str2 = #{str2,jdbcType=VARCHAR},
      str3 = #{str3,jdbcType=VARCHAR},
      str4 = #{str4,jdbcType=VARCHAR},
      str5 = #{str5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="clauseList" item="clause" separator="or">
        <if test="clause.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="clause.blockList" item="block">
              <choose>
                <when test="block.noValue">
                  and ${block.condition}
                </when>
                <when test="block.singleValue">
                  and ${block.condition} #{block.value}
                </when>
                <when test="block.betweenValue">
                  and ${block.condition} #{block.value} and #{block.secondValue}
                </when>
                <when test="block.listValue">
                  and ${block.condition}
                  <foreach collection="block.value" item="listItem" open="(" separator=", ">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <select id="selectByExample" parameterType="xyz.frt.basesdk2.entity.User" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderBy != null">
      order by ${orderBy}
    </if>
  </select>

  <sql id="Base_Table_Name">
    sys_order_detail
  </sql>

  <select id="selectAll" resultMap="BaseResultMap">
    select * from
    <include refid="Base_Table_Name" />
  </select>
</mapper>